.checker { position: absolute; z-index: 3; margin: 0; padding: 0; display: block; border-radius: 50%; cursor: pointer; border: 1px solid #808080; }
.checker-white { background-color: White; }
.checker-black { background-color: Black; }