.cell
{
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    display: block;
}

.cell-white
{
    background-color: #F4EADF;
}

.cell-black
{
    background-color: #C08243;
}

.board-label
{
    position: absolute;
    border-radius: 2px;
    background-color: #E0E0E0;
    z-index: 2;
    text-align: center;
    cursor: default;
   
   /* user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; */
}